* {
  box-sizing: border-box;
}

/* Basics */

body {
  height: 100%;
  background-color: #e3e3e3;
}

a {
  color: #fff;
  text-decoration: none;
}

/* FONTS */
@font-face {
  font-family: Montserrat-bold;
  src: url("/fonts/Montserrat/Montserrat-Black.ttf");
}

@font-face {
  font-family: Montserrat-light;
  src: url("/fonts/Montserrat/Montserrat-Light.ttf");
}

.fa {
  border: 0px;
  margin-top: 37px;
  height: 2.5625rem;
  width: 2.5625rem;
  margin-left: 19px;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #ff7f00;
  border-radius: 5px;
}

/* LAYOUTS */
.main-layout {
  max-width: 300px;
  margin: 0 auto;
  padding-left: 20px;
}

/* HEADER */

header {
  height: 60px;
  background-color: white;
}

.header-content {
  height: 100%;
  max-width: 300px;
  padding-left: 20px;
  margin: 0 auto;
}

.logo {
  display: flex;
  object-fit: contain;
  height: 100%;
  width: 150px;
}

.header-top {
  height: 100%;
  background-color: #ff7f00;
}

.header-content ul li a {
  display: flex;
  height: 100%;
  padding: 20px;
  align-items: center;
  transition: 0.5s;
  font-family: Montserrat-light;
}

.header-buttom {
  background-color: #fff;
}

.btn-menu {
  cursor: pointer;
  background-color: #ff7f00;
  border: 0px;
  color: #fff;
  font-size: 1.5rem;
}

/* Buttom Header */
.header-buttom-layout {
  flex-direction: column;
}

.filter-div {
  margin-top: 20px;
}

.btn-filter {
  background-color: #fff;
  border: 0px;
  font-size: 1.2rem;
}

.keyWords-div {
  margin-top: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 20px;
}

.keyWords-div p {
  margin: 0px;
  display: inline-block;
  color: #040a2c;
  cursor: pointer;
  font-family: Montserrat-light;
}

/* Gallery */

.section-gallery {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  margin-top: 10px;
  gap: 10px;
  justify-content: space-between;
}

.meme img {
  display: flex;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.meme img:hover {
  cursor: pointer;
}

/* Editor */
.section-editor {
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.editor-layout {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.editor-layout button {
  cursor: pointer;
  border: 0px;
  background-color: #fff;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 5px;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  text-align: center;
}

#line-text {
  width: 100%;
  height: 15%;
  font-size: 1.5rem;
  border: px #ff7f00 solid;
  border-radius: 10px;
}

.line-text-update-btns {
  margin-top: 10px;
}

.line-text-styles-btns {
  margin-top: 10px;
  width: 70%;
}

.change-color {
  opacity: 0;
  position: absolute;
}

.change-line-btn {
  font-weight: 900;
  font-size: 1.5rem;
}

.download-link {
  display: flex;
  margin: 5px auto;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: black;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 6px;
  text-align: center;
}

.stickers-container {
  background-color: #fff;
  border-radius: 5px;
  width: 70%;
}

.stickers-container ul {
  justify-content: space-between;
  font-size: 30px;
}

.stickers-container ul li:hover {
  cursor: pointer;
}

.stickers-container ul li {
  padding: 5px;
  font-size: 1.5rem;
}

.editor-layout .btn-save {
  width: 60px;
  background-color: #ff7f00;
}

.editor-layout .btn-share {
  width: 60px;
  background-color: #ff7f00;
}

.canvas-container {
  width: 100%;
  margin: 10px auto;
}

.meme-canvas {
  height: 100%;
  width: 100%;
}

/* About Me */

.about-me-layout {
  background-color: #fff;
  margin-top: 20px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.about-me-layout img {
  margin-top: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid #ff7f00;
}

.about-me-layout .aside-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
}

.aside-img h3 {
  margin: 0px;
  font-family: Montserrat-bold;
  font-size: 1.4rem;
}

.aside-img p {
  font-family: Montserrat-light;
  font-size: 1.2rem;
}

.aside-img .social-btns {
  align-items: center;
  justify-self: center;
}

.fa-facebook:hover {
  background: #3b5998;
  color: white;
}

.fa-twitter:hover {
  background-color: #00aced;
  color: white;
}

.fa-instagram:hover {
  color: white;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

/* Footer */

footer {
  background-color: #ff7f00;
  width: 100%;
  height: 200px;
  flex-direction: column;
  align-items: center;
}
footer p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #e3e3e3;
}

/* Screen */
.main-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(87, 80, 80, 0.35);
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
}

body.menu-open .main-screen {
  pointer-events: auto;
  opacity: 1;
}

.upload-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  background-color: rgba(56, 72, 81, 0.5);
  font-size: 1.2rem;
}

.file-input-btn {
  margin-top: 50px;
}

.close-upload-btn {
  background-color: rgba(56, 72, 81, 0);
  border: 0px;
  align-self: flex-end;
}

.facebook-share-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background-color: rgba(56, 72, 81, 0.302);
}

.btn-facebook {
  position: fixed;
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  background-color: #3b5998;
  margin-left: 35px;
}

.close-modal {
  cursor: pointer;
  border: 0px;
  align-self: flex-end;
  background-color: rgba(56, 72, 81, 0.302);
}

/* Helpers */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.close {
  display: none;
}

.align-center {
  align-items: center;
}

/* Media Queries */

@media (max-width: 750px) {
  .header-content ul {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    background-color: rgba(255, 145, 0, 0.9);
    height: 100vh;
    border-inline-start: 2px solid #b69a9a;
    width: 150px;
    transform: translateX(100%);
    transition: transform 0.6s, box-shadow 0.6s;
  }
  body.menu-open .header-content ul {
    box-shadow: 0px 0px 30px rgb(0 0 0 / 30%);
    transform: translateX(0);
  }
  .header-content ul a {
    color: #fff;
  }
  .header-content ul a:hover {
    background-color: rgba(229, 200, 146, 0.5);
  }
}

@media (min-width: 450px) {
  .main-layout {
    max-width: 450px;
  }
  .header-content {
    max-width: 450px;
  }

  .canvas-container {
    width: 300px;
    align-self: center;
    justify-self: center;
  }

  .editor-layout button {
    font-weight: 900;
    width: 40px;
    height: 40px;
  }

  .download-link {
    font-weight: 900;
    width: 40px;
    height: 40px;
  }
  .about-me-layout {
    flex-direction: row;
    padding: 10px;
  }

  .about-me-layout img {
    width: 200px;
    height: 200px;
    margin-top: 0px;
  }

  .about-me-layout .my-image {
    background-color: #ff7f00;
    height: 300px;
    width: 300px;
  }
  .about-me-layout .aside-img {
    width: 50%;
    font-size: 1rem;
  }
}

@media (min-width: 750px) {
  .btn-menu {
    display: none;
  }
  .header-content ul {
    display: flex;
    height: 100%;
  }
  .header-content ul li a .current {
    color: inherit;
    justify-content: center;
  }

  .header-content ul li {
    color: #ffff;
  }

  .current {
    color: #040a2c;
    box-shadow: inset 0px -6px 0 #040a2c;
  }

  .header-content ul li a:hover {
    color: #040a2c;
    box-shadow: inset 0px -6px 0 #040a2c;
  }
  .main-layout {
    max-width: 750px;
  }
  .header-content {
    max-width: 750px;
  }
  .section-gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .section-editor {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .editor-layout {
    width: 50%;
  }
  .editor-layout button {
    width: 50px;
    height: 50px;
  }

  .download-link {
    width: 50px;
    height: 50px;
  }

  .stickers-container ul {
    height: 100px;
    align-items: center;
  }
  .canvas-container {
    width: 45%;
  }
  .about-me-layout img {
    width: 300px;
    height: 300px;
    margin-top: 0px;
  }
  .header-buttom-layout {
    gap: 100px;
    flex-direction: row;
  }

  .upload-modal {
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
  }

  .keyWords-div {
    padding-left: 20px;
  }
}

@media (min-width: 920px) {
  .main-layout {
    max-width: 920px;
  }
  .header-content {
    max-width: 920px;
  }
  .editor-layout button {
    width: 55px;
    height: 55px;
  }

  .download-link {
    width: 55px;
    height: 55px;
  }
}

@media (min-width: 1200px) {
  .main-layout {
    max-width: 1200px;
  }
  .header-content {
    max-width: 1200px;
  }
  .editor-layout button {
    width: 65px;
    height: 65px;
    margin: 10px;
  }

  .download-link {
    width: 65px;
    height: 65px;
    margin: 10px auto;
  }
}
